<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<div class="py-5 bg-light">
    <div class="container">
        <div class="row animate-in-down">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <h3 class="container">Home Work 10-1</h3>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Salary</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i in message){%>
                            <tr>
                                <td>
                                    <%- message[i].id %>
                                </td>
                                <td>
                                    <%- message[i].firstname %>
                                </td>
                                <td>
                                    <%- message[i].lastname %>
                                </td>
                                <td>
                                    <%- message[i].salary %>
                                </td>
                                <td>
                                    <%- message[i].role %>
                                </td>
                            </tr>
                            <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
